body {
	background-color: #FEFED5;
}
hr {
	border-style: none;
	border-top-style: dotted;
	border-color: #35D0BA;
	border-width: 5px;
	width: 10%;
	align: center;
}
img {
	height: 150px;
	width: 150px;
	object-fit: cover;
	object-position: 0% 5%;
	border-radius: 150px;
}
h1 {
	color: #FF9234;
}
h3 {
	color: #FFCD3C;
}